html {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0,0,0);
    /* width: 100%; */
}

header nav {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 20px;
}

header li {
    display: flex;
}

header a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}
